<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=56d625bb77c36d65b2c06995ee3744f1"></script>
</head>
<body>

<%= yield %>

</body>
</html>
